.gradle
/build/
grandle/gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/grandle/settings.gradle
/grandle/gradlew
/osipovmrTextBot
/grandle/gradlew.bat
/grandle/build/tmp/compileJava/previous-compilation-data.bin
/grandle/build/
.idea
.idea/misc.xml
.idea/gradle.xml